 body{
        background:#e6e6e6;
        font-family: Arial;
        text-align:center;
        }

.box{
    width:450px;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:10px;
}

.bar-container{
    width:100%;
    margin-top:20px;
}

.bar{
    height:30px;
    margin:15px 0;
    color:white;
    text-align:right;
    padding-right:10px;
    line-height:30px;
    border-radius:5px;
}

.completed-bar{
    background:green;
}

.pending-bar{
    background:red;
}

.legend{
    margin-top:15px;
}

.color-box{
    display:inline-block;
    width:30px;
    height:15px;
    margin-right:5px;
}