.box{
    width:900px;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:10px;
}

.bar-container{
    width:100%;
    margin-top:20px;
}

/* Common style for all bars */
.bar{
    height:30px;
    margin:15px 0;
    color:white;
    text-align:right;
    padding-right:10px;
    line-height:30px;
    border-radius:5px;
}

/* Style for completed progress bar */
.completed-bar{
    background:green;
}

/* Style for pending progress bar */
.pending-bar{
    background:red;
}
/* Legend section below bars */
.legend{
    margin-top:15px;
}


#back-button {
    background-color: #748599;
    color: white;
    font-weight: 500;
    display: block;      /* makes it take its own line */
    width: fit-content;  /* makes the button only as wide as its content */
    margin: 20px auto 0; /* centers horizontally and adds top space */
    padding: 10px 20px; 
    border-radius: 10px;
    text-align: center;
}

#back-button:hover {
    background-color: #4e5b6b;;

}