.card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}
#button-book{
    background-color: #7D8B99;
    color: white;
}

#button-book:hover{
    background-color: #555f6a;
    

    
}

/* Responsive adjustment for smaller screens for banner image */
@media (max-width: 700px){
.team-card img {
    height: 400px;
    object-fit: cover;
    }
}

/* card style for both boxes price box and weather*/
.price-box,
.weather-box {
    background: #56606a;
    color: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

/* Dark mode support */
.dark-mode .price-box,
.dark-mode .weather-box {
    background-color: white;
    color: black;
}



