body{
    font-family: 'Segoe UI', sans-serif;
    background:#f8f9fa;
}

.hero{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1505691938895-1758d7feb511');
    background-size:cover;
    background-position:center;
    color:white;
    padding:100px 0;
    text-align:center;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.price-box{
    background:#212529;
    color:white;
    border-radius:15px;
    padding:25px;
}

.btn-primary{
    background:#6c63ff;
    border:none;
}

.btn-primary:hover{
    background:#5848d6;
}
