/* Main Card */
.contact-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-card {
    background: #FAF9F6;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* Title */
.contact-title {
    color: black;
    font-weight: 600;
}

.contact-text {
    color: #6c757d;
    font-size: 14px;
    margin-bottom: 30px;
}

/*Form Fields*/
.form-control {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
}

.send-button {
    width:100%;
    background-color: #748599;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #7D8B99; 
}

/* Social Icons */
.social-icons {
    margin-top: 25px;
}

.social-icons a {
    font-size: 25px;
    margin-right: 30px;
    margin-bottom: 50px;
    color: #fab938  ;
}


/* Map */
.map-frame {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: none;
}