.welcome-section{
    text-align: justify;
}

.amenities img{
    max-width: 60px;
    margin-bottom: 15px;
}

.amenities p {
    text-align: center;
}

.item{
    padding-top: 20px;
    padding-bottom: 20px;
    

}






