.amenities img{
    max-width: 60px;
    margin-bottom: 15px;
}

.amenities p {
    text-align: center;
}

.item{
    padding-top: 20px;
    padding-bottom: 20px;
    

}

#tripPreviewContainer {
    background-color: #f0f8ff; /* Your desired color */
    padding: 30px;
    border-radius: 12px;
    margin-top: 20px;

}

.dark-mode #tripPreviewContainer {
   background-color: #bbccdb;
    color: black;
}





