body { background:#f5f5f5; }

.title-style {
    font-family:cursive;
    font-size:40px;
}

.day-box {
    min-height:250px;
}

.completed {
    text-decoration: line-through;
    opacity:0.6;
}



#addBtn {
  background-color: #748599;
  color: white;
}

#addBtn:hover {
  background-color: #5f6f82; /* slightly darker for hover */
  border-color: #5f6f82;
}

/* Mobile spacing */
@media (max-width:500px){
    

}

