.title-style {
    font-family:cursive;
    font-size:40px;
}

.day-box {
    min-height:250px;
}

.completed {
    text-decoration: line-through;
    opacity:0.6;
}


#addBtn {
  background-color: #748599;
  color: white;
}

#addBtn:hover {
  background-color: #4e5b6b; /* slightly darker for hover */

}



/* Mobile spacing */
@media (max-width:700px){
    #button-analytics{
      font-size: 12px;    /* smaller text */
       padding: 6px 10px; /* top-bottom  left-right*/
  
    }

}

